$foreground-color: #eff0eb;
$background-color: #282a36;
$red: #ff5c57;
$green: #5af78e;
$yellow: #f3f99d;
$blue: #57c7ff;
$magenta: #ff6ac1;
$cyan: #9aedfe;
$white: #f1f1f0;
$light-black: #686868;
$selection-color: rgba(151, 151, 155, 0.2);
$border-color:  #16171d;
$cursor-color: #97979b;

$small-padding: 1rem;
$medium-padding: 2rem;
$large-padding: 3rem;
$x-large-padding: 4rem;

$xxx-small: 0.3rem;
$xx-small: 0.5rem;
$x-small: 0.75rem;
$small: 1rem;
$small-medium: 1.25rem;
$medium: 1.5rem;
$large: 2rem;
$x-large: 2.5rem;
$xx-large: 3rem;
$xxx-large: 4rem;