@mixin center-horizontal {
  display:flex;
  justify-content: center;
}

@mixin center-vertical {
  display:flex;
  align-items: center;
}

@mixin center {
  display:flex;
  justify-content: center;
  align-items: center;
}

@mixin side-margins { 
  padding-left: 5rem;
  padding-right: 5rem;
}